@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body{
    font-family: Lexend Deca;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17,54,71));
    background-position: 50% 5%;
}

div{
    background-color: rgba(0, 0, 0, 0.5); ;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 80px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    
}

a:-webkit-any-link {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

input{
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
}

.inputsubmit{
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90,20,220));
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    font-size: 15px;
    color: white;
}
.inputsubmit:hover{
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80,19,195));
    cursor: pointer;

}
.labelinput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}


